<p id="notice"><%= notice %></p>

<h5>
  <%= "#{@work.client} '#{@work.campaign}'" %>
</h5>

<hr>

<div class="row" data-equalizer="brief">
  <% if @work.results.blank? %>
    <%= render "work_without_results" %>
  <% else %>
    <%= render "work_with_results" %>
  <% end %>
</div>

<hr>

<% @work.works_images.each do |works_image| %>
  <p class="work-image">
    <%= image_tag works_image.image.thumb('200000@').url %>
  </p>
<% end %>

<% if @authenticated %>
  <%= link_to 'Edit', edit_work_path(@work) %> |
  <%= link_to 'Back', works_path %>
<% end %>
