<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @work.client %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @work.campaign %>
</p>

<div class="row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="panel">
      <h5>Challange:</h5>
      <p><%= @work.challange %></p>
    </div>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <div class="panel">
      <h5>Insight:</h5>
      <p><%= @work.insight %></p>
    </div>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <div class="panel">
      <h5>Strategy:</h5>
      <p><%= @work.strategy %></p>
    </div>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <div class="panel">
      <h5>Results:</h5>
      <p><%= @work.results %></p>
    </div>
  </div>
</div>

<% @work.works_images.each do |works_image| %>
  <p>
    <%= image_tag works_image.image.thumb('300x300').url %>
  </p>
<% end %>

<% if @authenticated %>
  <%= link_to 'Edit', edit_work_path(@work) %> |
  <%= link_to 'Back', works_path %>
<% end %>
