<p id="notice"><%= notice %></p>

<h5>
  <%= "#{@work.client} '#{@work.campaign}'" %>
</h5>

<hr>

<div class="row" data-equalizer="brief">
  <div class="small-12 medium-6 large-3 columns">
    <p data-equalizer-watch="brief">
      <h5>Challange</h5>
      <p><%= @work.challange %></p>
    </p>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <p data-equalizer-watch="brief">
      <h5>Insight</h5>
      <p><%= @work.insight %></p>
    </p>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <p data-equalizer-watch="brief">
      <h5>Strategy</h5>
      <p><%= @work.strategy %></p>
    </p>
  </div>

  <div class="small-12 medium-6 large-3 columns">
    <p data-equalizer-watch="brief">
      <h5>Results</h5>
      <p><%= @work.results %></p>
    </p>
  </div>
</div>

<hr>

<% @work.works_images.each do |works_image| %>
  <p class="work-image">
    <%= image_tag works_image.image.thumb('200000@').url %>
  </p>
<% end %>

<% if @authenticated %>
  <%= link_to 'Edit', edit_work_path(@work) %> |
  <%= link_to 'Back', works_path %>
<% end %>
