<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @work.client %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @work.campaign %>
</p>

<p>
  <strong>Challange:</strong>
  <%= @work.challange %>
</p>

<p>
  <strong>Insight:</strong>
  <%= @work.insight %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @work.outcome %>
</p>

<p>
  <strong>Results:</strong>
  <%= @work.results %>
</p>

<% @work.works_images.each do |works_image| %>
  <p>
    <%= image_tag works_image.image.thumb('300x300').url %>
  </p>
<% end %>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
