<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <li>
        <%= link_to purina_path do %>
          <%= image_tag("placeholder.png") %>
          <p>purina</p>
        <% end %>
      </li>
      <li>
        <%= link_to ruffles_path do %>
          <%= image_tag("placeholder.png") %>
          <p>ruffles</p>
        <% end %>
      </li>
      <li>
        <%= link_to nespresso_path do %>
          <%= image_tag("placeholder.png") %>
          <p>nespresso</p>
        <% end %>
      </li>
      <li>
        <%= link_to pantene_path do %>
          <%= image_tag("placeholder.png") %>
          <p>pantene</p>
        <% end %>
      </li>
      <li>
        <%= link_to msnbc_path do %>
          <%= image_tag("msnbc.jpg") %>
          <p>msnbc</p>
        <% end %>
      </li>
      <li>
        <%= link_to laf_path do %>
          <%= image_tag("laf.png") %>
          <p>laf</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
