<ul class="side-nav">
  <li><%= link_to "mission", mission_path %></li>
  <li><%= link_to "work", root_path %></li>
  <li><%= link_to "purina", purina_path %></li>
  <li><%= link_to "ruffles", ruffles_path %></li>
  <li><%= link_to "nespresso", nespresso_path %></li>
  <li><%= link_to "pantene", pantene_path %></li>
  <li><%= link_to "msnbc", msnbc_path %></li>
  <li><%= link_to "laf", laf_path %></li>
  <li><%= link_to "resume", resume_path %></li>
</ul>
